@page "/courier/view"

@inject ICourierService _courierService
@inject IJSRuntime Js
@inject NavigationManager _navigationManager
@inject AppState _appState

<PageTitle>My profile</PageTitle>

<h2>Hello @_courier.Name !</h2>
<br />

<h4>Account Details:</h4>

<div>
    <p><strong>Name:</strong> @_courier.Name</p>
    <p><strong>Surname:</strong> @_courier.Surname</p>
    <p><strong>Phone Number:</strong> @_courier.PhoneNumber</p>
    <p><strong>Email:</strong> @_courier.Email</p>
</div>
<div>
    <button class="btn bg-warning" @onclick="@(()=>EditCourier(@_courier.Id))">
        <span class="oi oi-pencil" aria-hidden="true"></span>
        Edit
    </button>
</div>

@code {
    private CourierDto _courier = new CourierDto();

    protected override async Task OnInitializedAsync()
    {
        if (_appState.CourierId.HasValue)
        {
            _courier = await _courierService.GetById(_appState.CourierId.Value);
        }
    }

    protected void EditCourier(int id)
    {
        _navigationManager.NavigateTo($"courier/edit/{id}");
    }
}
