@page "/deliveries/list"
@inject IOrderService OrderService
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject AppState _appState

<PageTitle>Deliveries</PageTitle>

<div>
    <h2>Deliveries</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Size</th>
                <th>PickupLocation</th>
                <th>Destination</th>
                <th>ShippingDate</th>
                <th>PickupDate</th>
                <th>DeliveryDate</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in _orderList)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Status</td>
                    <td>@order.Size</td>
                    <td>@order.PickupLocation.Street, @order.PickupLocation.City, @order.PickupLocation.PostCode, @order.PickupLocation.Country</td>
                    <td>@order.Destination.Street, @order.Destination.City, @order.Destination.PostCode, @order.Destination.Country</td>
                    <td>@order.ShippingDate.ToString("yyyy-MM-dd")</td>
                    <td>@(order.PickupDate.HasValue ? order.PickupDate.Value.ToString("yyyy-MM-dd") : "-")</td>
                    <td>@(order.DeliveryDate.HasValue ? order.DeliveryDate.Value.ToString("yyyy-MM-dd") : "-")</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private List<OrderDto> _orderList = new List<OrderDto>();

    protected override async Task OnInitializedAsync()
    {
        if (_appState.CourierId.HasValue)
        {
            // _orderList = (await OrderService.GetAll(_appState.CourierId.Value)).ToList();
        }
    }
}

