@page "/client/addresses"
@inject IAddressService AddressService
@inject IJSRuntime Js
@inject NavigationManager NavigationManager
@inject AppState _appState

<PageTitle>Client Addresses</PageTitle>

<h1>Client Addresses</h1>

<div>
    <h2>Addresses</h2>
    <div>
        <a href="address/create" class="btn bg-primary"><span class="oi oi-plus" aria-hidden="true"></span> Create new address </a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Street</th>
                <th>City</th>
                <th>PostCode</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var address in _addressList)
            {
                <tr>
                    <td>@address.Id</td>
                    <td>@address.Street</td>
                    <td>@address.City</td>
                    <td>@address.PostCode</td>
                    <td>@address.Country</td>
                    <td>
                        <button class="btn bg-danger" @onclick="()=>DeleteAddress((int)address.Id)"> Delete </button>
                    </td>
                    <td>
                        <button class="btn btn-warning" @onclick="@(() => EditAddress((int)@address.Id))">
                            <span class="oi oi-pencil" aria-hidden="true"></span>
                            Edit
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private List<OrderDto> _orderList = new List<OrderDto>();
    private List<AddressDto> _addressList = new List<AddressDto>();

    protected override async Task OnInitializedAsync()
    {
        if (_appState.ClientId.HasValue)
        {
            _addressList = (await AddressService.GetAllForClient(_appState.ClientId.Value)).ToList();
        }
    }
    protected void EditAddress(int id)
    {
        NavigationManager.NavigateTo($"address/edit/{id}");
    }
    private async Task DeleteAddress(int id)
    {
        await AddressService.DeleteAddress(id);
        _addressList = (await AddressService.GetAllForClient(_appState.ClientId.Value)).ToList();
    }
}
