@page "/address"
@inject IAddressService _addressService
@inject NavigationManager _navigationManager
@inject IJSRuntime _js

<PageTitle>Address list</PageTitle>
<h1>Address list</h1>
<div>
    <div>
        <a href="address/create" class="btn bg-primary"><span class="oi oi-plus" aria-hidden="true"></span> Create new address </a>
    </div>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Country</th>
                <th>City</th>
                <th>Post Code</th>
                <th>Street</th>
                <th>ClientId</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var a in _addressList)
            {
                <tr>
                    <td>@a.Id</td>
                    <td>@a.Country</td>
                    <td>@a.City</td>
                    <td>@a.PostCode</td>
                    <td>@a.Street</td>
                    <td>@a.ClientId</td>
                    <td>
                        <button class="btn bg-danger" @onclick="()=>DeleteAddress((int)a.Id)"> Delete </button>
                    </td>
                    <button class="btn bg-warning" @onclick="@(()=>EditAddress((int)@a.Id))">
                        <span class="oi oi-pencil" aria-hidden="true"></span>
                        Edit
                    </button>

                </tr>
            }
        </tbody>

    </table>
</div>
@code {
    private List<AddressDto> _addressList = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _addressList = _addressService.GetAll();
    }
    protected async Task DeleteAddress(int id)
    {
        var address = _addressList.First(q => q.Id == id);
        var confirm = await _js.InvokeAsync<bool>("confirm", $"Are You Sure You Want To Delete address {address.Id}?");
        if (confirm)
        {
            _addressService.Delete(id);
            OnInitialized();
        }
    }
    protected void EditAddress(int id)
    {
        _navigationManager.NavigateTo($"address/edit/{id}");
    }
} 