@page "/courier/edit/{id:int}"
@inject ICourierService _courierService
@inject NavigationManager _navigationManager

<PageTitle>Edit courier</PageTitle>
<h1>Edit courier</h1>

<EditForm Model="@_courier" OnValidSubmit="@UpdateCourier">
    <FluentValidationValidator @ref="_fluentValidationValidator" DisableAssemblyScanning="@true" />
    <ValidationSummary />
    <div class="form-group">
        <label>Name: </label>
        <InputText @bind-Value="@_courier.Name" class="form-control" />
        <ValidationMessage For="@(() => _courier.Name)" />
    </div>
    <div class="form-group">
        <label>Surname: </label>
        <InputText @bind-Value="@_courier.Surname" class="form-control" />
        <ValidationMessage For="@(() => _courier.Surname)" />
    </div>
    <div class="form-group">
        <label>PhoneNumber: </label>
        <InputText @bind-Value="@_courier.PhoneNumber" class="form-control" />
        <ValidationMessage For="@(() => _courier.PhoneNumber)" />
    </div>
    <div class="form-group">
        <label>Email: </label>
        <InputText @bind-Value="@_courier.Email" class="form-control" />
        <ValidationMessage For="@(() => _courier.Email)" />
    </div>
    <br />
    <div class="form-group">
        <button class="btn btn-primary" type="submit"> <span class="oi oi-pencil"></span> Update </button>
        <button @onclick="BackToList" class="btn btn-secondary" type="button">
            <span class="oi oi-media-skip-backward"></span>
            Back To List
        </button>
    </div>
</EditForm>

@code {
    [Parameter]
    public int Id { get; set; }
    private FluentValidationValidator? _fluentValidationValidator;
    private CourierDto _courier = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var c = _courierService.GetById(Id);
        _courier = new CourierDto()
            {
                Id = c.Id,
                Name = c.Name,
                Surname = c.Surname,
                PhoneNumber = c.PhoneNumber,
                Email = c.Email
            };
    }

    private void UpdateCourier()
    {
        _courierService.Update(_courier);
        _navigationManager.NavigateTo("/courier");
    }

    private void BackToList()
    {
        _navigationManager.NavigateTo("/courier");
    }
}
